* {
    margin: 0px;
    padding: 0px;
}

.aa {
    height: 60px;
    width: 100%;
    background-color:#131921;
    display: flex;
    align-items: center;
    
}



#bb {
    height :42px;
    width:120px;
    background-image: url(images/ama.png);
    background-size: cover;
    top: 7px;
    border:2px solid transparent;

}
    

#bb:hover{
    border:2px solid white;
}

#cc{
    border:2px solid transparent;
    
    height: 35px;
    width: 100px;
}

#cc:hover{
    border:2px solid white;
}


#dd{
    position: absolute;
    left: 158px;
    top: -3px;
} 

.fa-solid {
    position: absolute;
    top:25px;
    left: 138px;
}

p {    
    color: rgb(166, 160, 160);
    font: lighter;
    font-size: 12px;
   
}

P1{
      color: rgb(255, 255, 255);
      font:bolder;   
      font-size: 15px;  
}


#ee {
    height: 38px;
    width: 50px;
    position: absolute;
    left :260px;
    top: 10px;
    
}


INPUT{ 
    height: 34px;
    width: 640px;
    position: absolute;
    left :310px;
    top: 10px;

}  


     
#ff{
    height: 37px;
    width: 37px;
    background-image: url(images/search.png);
    background-size: cover;
    position: absolute;
    right :434px;
    top: 11px;

  
}

#jj{
    position: absolute;
    right :95px;
    top: 8px;
    border:2px solid transparent;
    padding-top: 3px;
    padding-left: 10px ;
    padding-right: 5px;
    
    
}

#jj:hover{
    border:2px solid white;
}

p5{
    font: 24px;  
    color: rgb(166, 160, 160); 
    position: relative;
    right: 10px;
}


p6{
    font: 35px;
    color: white;
}

  
#ii{
    position: absolute;
    right :200px;
    top: 14px;
    border:2px solid transparent;
    padding-right: 5px;
    padding-left: 2px ;
    padding-bottom: 0px;
}

#ii:hover{
    border:2px solid white;
}

p3{
    color: rgb(184, 180, 180); 
    font-size: 16px;  
}

p4{
    color: white;
    font-size: 16px;
}


#gg {
    border:2px solid transparent;
    height: 35px;
    width: 60px;
    position: absolute;
    right :349px;
    top: 15px;

    
    display:flex;
    align-items:center;
    gap:3px;
         
     
}

#gg:hover {
    border:2px solid white;
}


#hh{
    height: 17px;
    width: 28px;
    background-image: url(images/flag.png);
    background-size: cover;
    
}

p2 {
    color: white;
    font-size: 15px;
    

}





#kk {
    height: 40px;
    width:68px;
    background-image: url(/cart.png);
    background-size: cover;
    border:2px solid transparent;
    position: absolute;
    top: 10px;
    right: 17px;
}


#kk:hover{
    border:2px solid white;
}

#ll{
    background-color: #232f3e;
    height: 40px;
}

#nn{
   position: absolute;
   top: 71.5px;
   left: 12px;
}

#mm {
    display: inline-block;
    color: white;
    margin-top: 3px;
    margin-inline-start: 12px ;
    text-decoration: none;
    border:2px solid transparent;
    padding: 5px 7px;
}
#mm:hover{
    border:2px solid white;
}

#oo{
    display: inline-block;
    color: white;
    margin-top: 3px;
    margin-inline-start: 10px ;
    text-decoration: none;
    border:2px solid transparent;
    padding: 5px 15px;
    padding-right: 5px;
    padding-left: 25px ;
}
#oo:hover{
    border:2px solid white;
}

#pp{
    background-image: url(images/image08.png);
    background-size: cover;
    height: 1200px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
}

#qq{
    background-image: url(images/image09.png);
    background-size: cover;
    height:1300px;
    width: 100%;
    position: absolute;
    top: 1300px;
    left: 0px;
    z-index: -3;
}


.item1 {
    height: 337px;
    width: 300px;
    background-color: white;
    position: absolute;
    top:382px;
    left: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
    
} 

.game{
    height: 280px;
    width: 287px;
    position: relative;
    top: 13px;
    left: 2px;
}

.game1 {
    font-size: 14px;
    text-decoration: none;    
}

.item2 {
    height: 342px;
    width: 305px;
    
    background-color: white;
    position: absolute;
    top:382px;
    left: 372px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
}

.cloth{
    height: 288px;
    width: 288px;
    position: relative;
    top: 5px;
    left: 4px;
}

.cloth1 {
    font-size: 14px;
    text-decoration: none;   
    padding-left: 6px; 
}


.item3 {
    height: 342px;
    width: 305px;
    
    background-color: white;
    position: absolute;
    top:382px;
    left: 726px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 

.kitchen{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.kitchen1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}


.item4 {
    height:  342px;
    width: 305px;

    background-color: white;
    position: absolute;
    top:382px;
    right: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 

.grill{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.grill1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}


.item5 {
    height: 342px;
    width: 305px;
    background-color: white;
    position: absolute;
    top:780px;
    left: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 

.toy{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.toy1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

.item6 {
    height: 342px;
    width: 305px;
    
    background-color: white;
    position: absolute;
    top:780px;
    left: 372px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
}
.travel{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.travel1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

.item7 {
    height: 342px;
    width: 305px;
    
    background-color: white;
    position: absolute;
    top:780px;
    left: 726px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 
.watch {
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.watch1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

.item8 {
    height:  342px;
    width: 305px;

    background-color: white;
    position: absolute;
    top:780px;
    right: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 

.fashion {
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.fashion1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

#box3{
    height: 280px;
    width: 1360px;
    background-color: #ffffff;
    position: absolute;
    top: 1180px;
    left: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;

}

.compu {
    height: 250px;
    width: 1350px;
    position: relative;
    top: 10px;
    left: 10px;
}  


.item9 {
    height: 342px;
    width: 305px;
    background-color: white;
    position: absolute;
    top:1510px;
    left: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
}

.elect{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.elect1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

.item10 {
    height: 342px;
    width: 305px;
    
    background-color: white;
    position: absolute;
    top:1510px;
    left: 372px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
}

.beauty{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.beauty1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

.item11 {
    height: 342px;
    width: 305px;
    
    background-color: white;
    position: absolute;
    top:1510px;
    left: 726px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 

.prod{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.prod1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

.item12 {
    height:  342px;
    width: 305px;

    background-color: white;
    position: absolute;
    top:1510px;
    right: 15px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
} 

.pc{
    height: 293px;
    width: 293px;
    position: relative;
    top: 5px;
    left: 0px;
}

.pc1 {
    font-size: 14px;
    text-decoration: none;    
    padding-left: 10px;
}

#box5 {
    height: 300px;
    width: 1360px;
    margin-left: 15px;
    background-color: #ffffff;
    position: absolute;
    top: 1910px;
    left: 1px;
    padding: 15px;
    padding-left: 20px;
    font-size: 28px;
    font-weight: bolder;

}
.book{
    height: 255px;
    width: 1345px;
    background-color: #ffffff;
    position: absolute;
    top: 45px;
    left: 5px;
    padding: 15px;
    font-size: 23px;
    font-weight: bolder;
}


#box8 { 
    height: 500px;
    width: 100%;
    
    background-color:  #19232d;
    position: absolute;
    top: 2270px;

}
 
#box7{
    height: 100px;
    width: 100%;
    
    background-color:  #19232d;
    position: absolute;
    top: 3020px;
}
.add { 
    height:100px;
    width: 100%;
    bottom: 0px;
    
}

.foot {
    height:750px;
    width: 100%;
    
}
